<div class="junk-drawer">
    <a href="https://github.com/kelliehall" target="_blank"><i class="fa fa-2x fa-github"></i></a>
    <a href="https://www.linkedin.com/in/khallhi/" target="_blank"><i class="fa fa-2x fa-linkedin"></i></a>
    <a href="https://stackoverflow.com/users/5484587/kellie-hall?tab=profile" target="_blank"><i class="fa fa-2x fa-stack-overflow"></i></a>
    <a href="mailto:hello@kelbie.io"><i class="fa fa-2x fa-envelope"></i></a>
</div>

<!-- TODO:
    Contact
    jwt to guard my fun apps :]
    better theme
    blog ? angular ramblings ? -->
