$outerOrange: #FDAB42;
$rim: #FEE7B9;
$background: #87E8F8;
$dots: #F28F28;

@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}

html, body {
  width: 100%;
  height: 100%;
}

.taco {
  position: relative;
  margin-left: -25px;
  
  &::before {
    @include pseudo;
    left: -36px;
    width: 86px;
    height: 75px;

    border-radius: 43px 43px 0px 20px;
    background-color: $outerOrange; 
  }
  
  &::after {
    @include pseudo;
    z-index: 3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    color: $dots;
    box-shadow: 
      40px 5px 0 0 currentcolor,
      20px 15px 0 0 currentcolor,
      50px 15px 0 0 currentcolor,
      40px 30px 0 0 currentcolor,
      20px 40px 0 0 currentcolor,
      50px 40px 0 0 currentcolor,
      60px 40px 0 0 currentcolor,
      10px 50px 0 0 currentcolor,
      25px 50px 0 0 currentcolor,
      35px 50px 0 0 currentcolor,
      55px 50px 0 0 currentcolor,
      15px 58px 0 0 currentcolor,
      5px 67px 0 0 currentcolor,
      20px 67px 0 0 currentcolor,
      25px 62px 0 0 currentcolor,
      35px 62px 0 0 currentcolor,
      48px 67px 0 0 currentcolor,
      55px 60px 0 0 currentcolor,
      70px 56px 0 0 currentcolor;
  }
}

.outer {
  position: absolute;
  z-index: 1;
  width: 86px;
  height: 75px;
  
  border-radius: 43px 43px 20px 0px;
  background-color: $outerOrange; 
}

.rim {
  position: absolute;
  
  width: 50px;
  height: 55px;
  
  overflow: hidden;
  
  &::before {
    @include pseudo;
    
    width: 86px;
    height: 86px;
    
    background-color: transparent;
    
    border-radius: 50%;
    border: 7px solid $rim;
    
    transform: rotate(315deg);
  }
  
  &::after {
    @include pseudo;
    left: 0;
    
    width: 86px;
    height: 75px;

    border-radius: 43px 43px 43px 30px;
    border: 7px solid $rim;
    border-top: 0;
    background-color: $outerOrange;
  }
}

.rim:nth-child(1) {
  z-index: 0;
  left: -40px;  
}

.rim:nth-child(2) {
  z-index: 2;
  left: -1px;
}

.rim__fold {
  position: absolute;
  z-index: 4;
  top: 29px;
  left: -40px;
  
  width: 32px;
  height: 32px;

  border-radius: 50%;
  border-top: 7px solid transparent;
  border-bottom: 7px solid $rim;
  border-left: 7px solid $rim;
  border-right: 7px solid transparent;
  background-color: transparent;
  
  transform: rotate(315deg);
}

.filling {
  position: absolute;
  z-index: 1;
  
  border-radius: 50%;
  width: 8px;
  height: 8px;
  left: -40px;
  box-shadow: 
    36px 12px 0 0 #DB3148, 
    44px 5px 0 0 #DB3148,
    24px 18px 0 0 #DB3148,
    36px 8px 0 0 #FED889,
    34px 15px 0 0 #FED889,
    24px 25px 0 0 #FED889,
    20px 30px 0 0 #FEE7B9,
    28px 30px 0 0 #FEE7B9,
    14px 37px 0 0 #FEE7B9,
    10px 45px 0 -1px #D89E84,
    17px 43px 0 0 #D89E84,
    25px 43px 0 0 #D89E84,
    32px 45px 0 1px #D89E84,
    30px 22px 0 0 #A7D28B,
    40px 25px 0 12px #79B15A,
    25px 48px 0 13px #BF6952;
}